<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Почин.им</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/theme.css" rel="stylesheet" media="all">
        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript">

           
            var x = document.getElementById("position");
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }
            function showPosition(position) {
                console.log(position);
                $("#Latitude").val(position.coords.latitude);
                $("#Longitude").val(position.coords.longitude);
                document.cookie = "Latitude=" + position.coords.latitude + ";";
                document.cookie = "Longitude=" + position.coords.longitude + ";";
                $("#position").html("Latitude: " + position.coords.latitude + 
                "<br>Longitude: " + position.coords.longitude); 
            }
            $(document).ready(function () {
                console.log("sss");
                getLocation();
            });
            
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="/">Red<span style="color:red">Line</span></a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
                <div class="clear-fix"></div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
                <div class="float-right">
                    <p id="position"></p>
                    <input type="hidden" id="Latitude" value=""/>
                    <input type="hidden" id="Longitude" value=""/>
                </div>
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
    </body>
</html>
